/* Bank-specific themes */
:root {
    --base: #65d3ee;
    --comm: #FFCC00;
    --ing: #FF6200;
    --citi: #003087;
    --medicare: #008000;
  }
  
  /* Commonwealth Bank Theme */
  .comm-theme {
    --primary-color: var(--comm);
    --text-color: #000;
  }
  .comm-theme button {
    background-color: var(--comm);
    color: #000;
  }
  .comm-theme header {
    background-color: var(--comm);
  }
  
  /* ING Theme */
  .ing-theme {
    --primary-color: var(--ing);
    --text-color: #fff;
  }
  .ing-theme button {
    background-color: var(--ing);
    color: #fff;
  }
  .ing-theme header {
    background-color: var(--ing);
  }
  
  /* Citibank Theme */
  .citi-theme {
    --primary-color: var(--citi);
    --text-color: #fff;
  }
  .citi-theme button {
    background-color: var(--citi);
    color: #fff;
  }
  .citi-theme header {
    background-color: var(--citi);
  }
  
  /* Medicare Theme */
  .medicare-theme {
    --primary-color: var(--medicare);
    --text-color: #fff;
  }
  .medicare-theme button {
    background-color: var(--medicare);
    color: #fff;
  }
  .medicare-theme header {
    background-color: var(--medicare);
  }